@model TMA_Warehouse_solution.Models.Item.Item

<h1>Add Item</h1>

<form method="post" action="AddItem">
    <div>
        <label>Item Group:</label>
        <select id="itemGroupId" name="ItemGroupId" class="form-control" required>
            @foreach (var group in ViewBag.ItemGroups)
            {
                        <option value="@group.Id">@group.Name</option>
            }
        </select>
    </div>
    <div>
        <label>Measurement:</label>
        <select id="measurementId" name="MeasurementId" class="form-control" required>
            @foreach (var measurement in ViewBag.Measurements)
            {
                        <option value="@measurement.Id">@measurement.Name</option>
            }
        </select>
    </div>

    <input type="hidden" id="itemGroupIdHidden" name="itemGroupId" />
    <input type="hidden" id="measurementIdHidden" name="measurementId" />

    <div>
        <label>Quantity:</label>
        <input type="number" class="form-control" name="Quantity" asp-for="Quantity" required />
    </div>
    <div>
        <label>Price:</label>
        <input type="number" class="form-control" name="Price" asp-for="Price" required />
    </div>
    <div>
        <label>Status:</label>
        <input type="text" class="form-control" name="Status" asp-for="Status" required />
    </div>
    <div>
        <label>Storage Location:</label>
        <input type="text" class="form-control" name="StorageLocation" asp-for="StorageLocation" />
    </div>
    <div>
        <label>Photo URL:</label>
        <input type="image" class="form-control" name="Photo" name="Photo"/>
    </div>
    <button type="submit" class="btn btn-primary">Add Item</button>
</form>

<script>

    document.getElementById('itemGroupId').addEventListener('change', function() {
        document.getElementById('itemGroupIdHidden').value = this.value;
    });

    document.getElementById('measurementId').addEventListener('change', function() {
        document.getElementById('measurementIdHidden').value = this.value;
    });
</script>
